/*

CSS STRUCTURE IN 4 SECTIONS

LAYOUT PAGE
LAYOUT FONTS
STYLE FONTS
STYLE LAYOUT
EFFECTS

*/

/* --------------------------------------------------------------------------------------------- */
/* LAYOUT PAGE */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0, auto;
    min-height: 100vh;
    width: 1280px;
}

.header-line {
    margin: 0 99px 101px 99px;
    padding-top: 71px;
    display: flex;
    justify-content: space-between;
    width: 1083px;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    gap: 68px;
}

section {
    margin: 0 89px 157px 99px;
    display: flex;
    justify-content: space-between;
}

.main-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 605px;
}

footer {
    margin: 0px 356px 23px 356px;
}

.footer-insta {
    height: 55px;
    border-top: 1px solid rgba(0, 191, 166, 1);
}

.footer-padlock {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* --------------------------------------------------------------------------------------------- */
/* LAYOUT FONTS */
.header-nav ul {
    list-style: none;
    align-items: center;
}

.main-info {
    align-items: center;
}

.main-title {
    text-align: center;
}

.main-text {
    text-align: center;
}

.footer-insta p {
    text-align: center;
    padding: 55px 0 23px 0;
}

/* --------------------------------------------------------------------------------------------- */
/* STYLE FONTS */

body {
    font-family: 'JetBrains Mono', monospace;
    color: rgba(255, 255, 255, 1);

}

.header-logo {
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
}

ul li a {
    opacity: 0.5;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 500px;
    font-size: 14px;
    line-height: 28px;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

.main-title h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.main-title h1 span {
    color: rgba(0, 191, 166, 1);
}

.main-text p {
    font-family: 'Open Sans', sans-serif;
    color: rgba(125, 121, 135, 1);
    font-size: 16px;
    line-height: 28px;
}

.main-text p span {
    font-weight: 700;
    color: rgba(194, 194, 194, 1)
}

.main-text p strong {
    color: rgba(0, 191, 166, 1);
}

.footer-insta a {
    opacity: 0.5;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer-insta a:hover {
    font-weight: bold;
    opacity: 1;
}

/* --------------------------------------------------------------------------------------------- */
/* STYLE LAYOUT */

body {
    background: rgba(44, 43, 61, 1);
}


/* --------------------------------------------------------------------------------------------- */
/* EFECTS */

button {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;

    background: #69B99D;
    border: 0;
    padding: 14px 32px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 4px;

    cursor: pointer;
}

button:hover {
    background: #4EA788;
}





















/*
header {
    padding-top: 71px;
}

header div {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    margin-left: 98px;
    width: 168px;
}

.header-nav {
    margin-right: 98px;
    display: flex;
    width: 306px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main {
    margin-top: 101px;
    margin-bottom: 157px;
}

main div {
    display: flex;
    justify-content: space-between;
}

.main-left {
    margin-left: 111px;
    width: 401px;
}

.main-right {
    margin-right: 77px;
    width: 609px;
    height: 267px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h1 p {
    font-family: 'JetBrains Mono', monospace;
}

footer {
    display: flex;
    margin: 0px 356px;
}

.footer-insta {
    height: 55;
    align-items: center;
    padding-bottom: 23px;
    border-top: 1px solid #00BFA6;
}

.footer-padlock {
    position: fixed;
    bottom: 0;
    left: 0;
}

style

h1,
p {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    line-height: 28px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.header-logo div p {
    font-weight: 700;
    font-size: 24px;

}

.header-nav p {
    font-weight: 500;
    font-size: 14px;
    ;
}

.main-right div h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.main-right div h1 span {
    color: #00BFA6;
}

.main-right div p {
    font-family: 'Open Sans', sans-serif;
    color: #7D7987;
}

.main-right div p strong {
    color: #C2C2C2;
}

.main-right div p span {
    color: #00BFA6;
} */