* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0, auto;
    width: 1280px;
    height: 720px;
    text-align: center;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

header {
    margin-top: 65px;
}

header div {
    justify-content: space-between;
    display: flex;
}

.header-logo {
    width: 103px;
    margin-left: 122px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: rgba(137, 197, 204, 1);
}

.header-nav {
    display: flex;
    width: 267px;
    margin-right: 153px;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
}

main {
    margin: 58px 153px 82px 119px;
}

.main-section {
    justify-content: space-between;
    display: flex;
}

.main-left {
    width: 489px;
    height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

button {
    width: 179px;
    height: 56px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #69B99D;
    color: white;
    border-radius: 4px;
    border-style: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

button a+span {
    margin-left: 10px;
}

footer {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

.footer-balls {
    position: fixed;
    bottom: 0;
    right: 0;
}

h1 {
    color: #000000;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
}

h1 strong {
    color: #89C5CC;
    font-family: 'Mulish', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

font {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}